h2 Gauges

#gauge_chart style="height: 400px; min-width: 600px" data-title="Gauges" data-url=to("/history.json") data-series=MultiJson.encode(gauges.map{ |path, gauge| {title: gauge.title, path: path, data: gauge.values_as_json} })

