
.seven.columns.centered
  h2 Gauges

  #gauge_chart style="height: 400px; min-width: 600px" data-series=MultiJson.encode(@gauges.map{|g| {name: g.name, data: g.values_as_json} }) data-title="Gauges" data-url=to("/gauges/#{@gauges.map(&:id).join('+')}/data")

