
.seven.columns.centered
  h2= @gauge.name

  #gauge_chart style="height: 400px; min-width: 600px" data-title=@gauge.name data-series=MultiJson.encode([{name: @gauge.name, data: @gauge.values_as_json}]) data-url=to("/gauges/#{@gauge.id}/data")
